*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f5f5f5;
}
.main{
  max-width: 550px;
  margin: 20px auto;
}
.title{
  font-size: 100px;
  text-align: center;
  color: rgba(175, 47, 47, 0.3);
}
.add{
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(255,255,255,1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  line-height: 1.4em;
  outline: none;
  color: #4d4d4d;
  margin-bottom: 10px;
}
